@import url('../node_modules/bootstrap/dist/css/bootstrap.css');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search {
  width: 100%;
  padding: 1.3rem 0;
}

.search__input {
  width: 100%;
  padding: 0.7rem;
  border: none;
  border-bottom: 1px solid transparent;
  outline: none;
  font-size: 1.2rem;
  color: inherit;
  transition: all .3s ease-in-out;
}

.search__input:focus {
  border-bottom: 1px solid #61DAFB;
}

.movies {
  padding: 0;
  list-style-type: none;
}
